<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Damian Zaremba - {{ page.title }}</title>

    <!-- General meta data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
    <meta name="google-site-verification" content="qykIg-4DghoGe78ET4eRjKG1cx6n3gXvu4jF0FvcwRo" />
    <meta name="author" content="Damian Zaremba" />
    <link rel="alternate" type="application/rss+xml" title="Damian Zaremba's Blog" href="http://feeds.feedburner.com/DamianZaremba" />

    <!-- Robot meta data -->
    <meta name="robots" content="INDEX" />
    <meta name="robots" content="FOLLOW" />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!-- CSS files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/pygments-github.css" rel="stylesheet">

    <!--
    RIPA NOTICE: No consent is given for the interception of this page transmission
    -->
  </head>
  <body>
    <main>
      <div class="container">
        <!-- Header -->
        <header class="d-flex flex-wrap justify-content-center py-2 mb-2 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">Damian Zaremba</span>
          </a>
          <ul class="nav">
            <li class="nav-item"><a class="nav-link{% if page.url != '/about/' and page.url != '/cv/' and page.url != '/archive/' and page.url != '/projects/' %} text-bg-primary{% endif %}" href="/">Blog</a></li>
            <li class="nav-item"><a class="nav-link{% if page.url == '/about/' %} text-bg-primary{% endif %}" href="/about/">About</a></li>
            <li class="nav-item"><a class="nav-link{% if page.url == '/cv/' %} text-bg-primary{% endif %}" href="/cv/">CV</a></li>
            <li class="nav-item"><a class="nav-link{% if page.url == '/archive/' %} text-bg-primary{% endif %}" href="/archive/">Archive</a></li>
            <li class="nav-item"><a class="nav-link{% if page.url == '/projects/' %} text-bg-primary{% endif %}" href="/projects/">Projects</a></li>
          </ul>
        </header>

        <!-- Page -->
{{ content }}

        <!-- Footer -->
        <footer class="mt-2">
          <p class="text-center text-body-secondary">Copyright 2009-{{ site.time | date: "%Y" }} <a href="http://damianzaremba.co.uk">Damian Zaremba</a></p>
        </footer>
      </div>
    </main>

    <!-- JS scripts -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W7DHGHMD7H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-W7DHGHMD7H');
    </script>
  </body>
</html>
