---
layout: default
---
<article class="post">
    <h1 class="title">{{ page.title }}</h1>
    <div class="meta">
        <span><img src="/assets/images/date.png" title="Date" alt="Date" />{{ page.date | date_to_string }}</span>
        {% if page.tags and page.tags.size > 0 %}
            <ul class="categories">
            {% for tag in page.tags %}<li><a href='{{ tag | make_tag_url }}'>{{ tag }}</a></li>{% endfor %}</ul>
        {% endif %}
    </div>
    <div class="entry">
        {{ content }}
    </div>
</article>

{% if site.related_posts %}
<section id="related">
    <h2>Related posts</h2>
    <ul id="related_posts">
    {% for post in site.related_posts limit:3 %}
        <li>&raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</section>
{% endif %}
